h1{
    color: blue;
    text-align: center;
    font-style: italic;
    background-color: blanchedalmond;
}
img{
    border: 10px solid black;
    margin-left: 50%;
}

h3{
    font-style: italic;
    background-color: antiquewhite;
    color: blue;
    text-align: center;
}
